{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<form action="/adduser">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username"  class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password"  class="form-control" name="confirm-password" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
