{% extends "base.html" %}

{% block title %} {{name}} {% endblock %}

{% block content %}

<div class="container-fluid">
    <h2> {{name}} </h2>
</div>
<hr>
<div class="container-fluid">
    <div class="clearfix">
        <figure class="figure">
            <img src="{{image_url}}">
            <figcaption class="figure-caption">Rating {{rating}} / 5</figcaption>
        </figure>
        <h4>Ingredients</h4>
        <ul class="list-group">
            {% for ingredient in ingredients %}
                <li class="list-group-item"> {{ingredient}} </li>
            {% endfor %}
        </ul>
    </div>
    <p> Rating: {{rating}} / 5</p>
</div>

{% endblock %}